@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #fff;
    min-width: 600px;
    max-width: 900px;

    font-size: 90%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

/*div {
    border: 1px solid black;
}*/

a {
    color: #369;
}

a:hover {
    color: #fff;
    background: #369;
    text-decoration: none;
}

h1, h2, h3, h4 {
    padding: 0;
    font-family: 'Garamond', 'Lucida Grande', arial, sans-serif;
}

p {
    margin: .4em 0 .8em 0;
    padding: 0;
}

#mypic {
    display: inline-block;
    border: 0px;
    border-radius: 50%;
}

img {
    margin: 10px 0 5px;
}

#header {
    clear: both;
    float: left;
    width: 100%;
    border-bottom: 1px solid #336699;
}

#header p,
#header h1,
#header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}

#cols {
    width: 100%;
    overflow: auto;
}

#navlinks {
    float: left;
    left: 0;
    width: 10em;
    padding: 1em;
    clear: both;
}

#content {
    margin-left: 11em;
}



